# THIS IS THE FIRST COURSE FROM COURSERA

IT IS CALLED DATA SCIENCE SPECIALIZATION
INTRODUCTION TO DATA MAN

#PYTHON FUNCTIONS

In [32]:
import math
def quadratic_equation(a, b, c):
    x = -b
    y = math.sqrt(b*b -4*a*c)
    z = x + y
    h = z/2*a
    return h

print(quadratic_equation(2, -9, 4))

16.0

In [37]:
def do_it(a, b, c):
    g = (-b + math.sqrt(b*b-4*a*c))/2*a
    return g

In [41]:
print(do_it(3, 10, 7))

-6.0

In [91]:
a, b, c = 2, -9, 4
d = -b + math.sqrt((b**2) - (4*a*c))/(2*a)
print(d)

10.75

In [44]:
def subtract_integers(p=None, r=None, s=None):
    if (p==r==s==None):
        return None
    if (s==None):
        return p * r

In [45]:
print(subtract_integers(3, 4))

12

In [52]:
def add_numbers(x, y=None):
    if (y==None):
        return x
    else:
        return x + y
add_numbers(3, 4)

7

__Python types and sequence__

In [65]:
# Function
# Tuple
# List
# Dictionary
#Set
# Integers
# Float
# String
# class

In [66]:
full_name = 'Archimedes Sena Senadju'
name_of_school = 'University of Education, Winneba'
program = 'BSc Mathematics'
print('Sena' in full_name)

True

In [70]:
print(full_name.split(' ')[0])
print(full_name.split(' ')[-1])
print(full_name.split(' ')[1])

Archimedes
Senadju
Sena

In [76]:
first = full_name.split(' ')
splitted = first[-1]
print('Hello,', splitted)

Hello, Senadju

In [77]:
_thought = name_of_school.split(' ')
thought = _thought[-1]
print('I thought you are a product of', thought)

I thought you are a product of Winneba

In [82]:
def guess(school=None):
    if school == thought:
        return 'You are the right school'
    else:
        return "That is a garbage school"

In [84]:
print(guess('Legon'))

That is a garbage school

In [95]:
# List
alp = ['a', 'b', 'c', 'd', 'e']
num = [1, 3, 5, 7, 9, 11]
combined = alp + num
print(combined)

['a', 'b', 'c', 'd', 'e', 1, 3, 5, 7, 9, 11]

In [112]:
combined[5]
combined[-5:]
combined[4:]
combined[2]
combined[:]
combined[-9:-4]
combined[3:5]
combined[2:9:3]
num[2:4:2]

[5]

In [121]:
c = lambda x:x+1
c(4)

5