# THIS IS THE FIRST COURSE FROM COURSERA

IT IS CALLED DATA SCIENCE SPECIALIZATION
INTRODUCTION TO DATA MAN

#PYTHON FUNCTIONS

In [2]:
import math
def quadratic_equation(a, b, c):
    x = -b
    y = math.sqrt(b*b -4*a*c)
    z = x + y
    h = z/2*a
    return h

print(quadratic_equation(2, -9, 4))

16.0

In [3]:
def do_it(a, b, c):
    g = (-b + math.sqrt(b*b-4*a*c))/2*a
    return g

In [4]:
print(do_it(3, 10, 7))

-9.0

In [5]:
a, b, c = 2, -9, 4
d = -b + math.sqrt((b**2) - (4*a*c))/(2*a)
print(d)

10.75

In [6]:
def subtract_integers(p=None, r=None, s=None):
    if (p==r==s==None):
        return None
    if (s==None):
        return p * r

In [7]:
print(subtract_integers(3, 4))

12

In [8]:
def add_numbers(x, y=None):
    if (y==None):
        return x
    else:
        return x + y
add_numbers(3, 4)

7

__Python types and sequence__

In [9]:
# Function
# Tuple
# List
# Dictionary
#Set
# Integers
# Float
# String
# class

In [10]:
full_name = 'Archimedes Sena Senadju'
name_of_school = 'University of Education, Winneba'
program = 'BSc Mathematics'
print('Sena' in full_name)

True

In [11]:
print(full_name.split(' ')[0])
print(full_name.split(' ')[-1])
print(full_name.split(' ')[1])

Archimedes
Senadju
Sena

In [12]:
first = full_name.split(' ')
splitted = first[-1]
print('Hello,', splitted)

Hello, Senadju

In [13]:
_thought = name_of_school.split(' ')
thought = _thought[-1]
print('I thought you are a product of', thought)

I thought you are a product of Winneba

In [14]:
def guess(school=None):
    if school == thought:
        return 'You are the right school'
    else:
        return "That is a garbage school"

In [15]:
print(guess('Legon'))

That is a garbage school

In [16]:
# List
alp = ['a', 'b', 'c', 'd', 'e']
num = [1, 3, 5, 7, 9, 11]
combined = alp + num
print(combined)

['a', 'b', 'c', 'd', 'e', 1, 3, 5, 7, 9, 11]

In [17]:
combined[5]
combined[-5:]
combined[4:]
combined[2]
combined[:]
combined[-9:-4]
combined[3:5]
combined[2:9:3]
num[2:4:2]

[5]

In [22]:
c = lambda x:x+x**2+1
c(4)

21

In [30]:
kid_brother = 'Godsway Kpetigo'

In [33]:
print(kid_brother.split(' ')[1], kid_brother)

Kpetigo Godsway Kpetigo

# DICTIONARY

In [34]:
name_email = {'Archimedes':'archimedes@gmailcom', 'Sena':'sena@gmail.com', 'Eli':'eli@gmail.com', 'Godsway':'godsway@gmail.com'}

In [35]:
print(name_email)

{'Archimedes': 'archimedes@gmailcom', 'Sena': 'sena@gmail.com', 'Eli': 'eli@gmail.com', 'Godsway': 'godsway@gmail.com'}

In [44]:
for name in name_email:
    if ('d' in name):
        print('Yes')
    else:
        print("NO")

Yes
NO
NO
Yes

In [54]:
for name in name_email:
    if name=='archimedes@gmail.com':
        print(name_email[name])
    elif(name_email.values()=='archimedes@gmail.com'):
        print(name_email.keys('archimedes@gmail.com'))

In [60]:
for n in name_email:
    print(name_email[n])

archimedes@gmailcom
sena@gmail.com
eli@gmail.com
godsway@gmail.com

In [65]:
name_email[n].split(' ')[0]

'godsway@gmail.com'

In [66]:
name_email['cele']='cele@gmail.com'

In [67]:
name_email

{'Archimedes': 'archimedes@gmailcom',
 'Sena': 'sena@gmail.com',
 'Eli': 'eli@gmail.com',
 'Godsway': 'godsway@gmail.com',
 'cele': 'cele@gmail.com'}